<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Processing</title>
    <link rel="stylesheet" type="text/css" href="../static/styles_index.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
</head>
<body>
    <header>
		<div class="logo">
			<img src="/static/dblogo.png" alt="Logo">
		</div>
		<div class="title">
			<h1 id="dbTitle">Databyte</h1>
		</div>
	</header>
    <div class="container">
        <h1 class="header-box">Study-Helper</h1>
        <form method="post" action="/process_file" enctype="multipart/form-data">
            <div class="form-group">
                <label for="file_type">Choose file type:</label>
                <select id="file_type" name="file_type">
                    <option value="image">Image</option>
                    <option value="pdf">PDF</option>
                </select>
            </div>

            <div class="form-group">
                <label for="file">Choose file:</label>
                <input type="file" id="file" name="file" required>
            </div>

            <input id="process-box" type="submit" value="Process">
        </form>
    </div>
    <div class="watermark-container">
        <div class="watermark">Made with  &nbsp;<span class="heart"> &hearts; </span> &nbsp;by Databyte</div>
    </div>
</body>
</html>




